<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Emprunte</title>
    <style>
    
		th { background-color : #557CBA; }
		/* Alternance de couleur sur les colonnes */
		td:nth-child(even) { background-color : #CED4E5; }
		td:nth-child(odd)  { background-color : #E8EBF5; }

    </style>
</head>
<body>
    <ul style="list-style: none;">
        <div>
        <ul style="list-style: none;">

            <li><a href="#">EMPRUNTES</a></li>
            <li><a href="http://127.0.0.1:8000/biblio/reservation">RESERVATION</a></li>
            <li><a href="http://127.0.0.1:8000/biblio/admin/addbook/">ADD BOOK</a></li>
            <li><a href="#">DELETE A BOOK</a></li>
            
        </ul>
    </div>    
    <div>
        <form action="http://127.0.0.1:8000/biblio/admin/" method="post"> {% csrf_token %}
            <select name="select" id="select">
                <option value="etudiant">Etudiant</option>
                <option value="titre">Titre du livre</option>
                <option value="cotation">Cotation</option>
                <option value="auteur">Auteur</option>

            </select>
            <input type="text" name="rechercher">
            <label for="rechercher"><input type="submit" value="rechercher"></label>
        </form>
        
    </div> <br>

    </ul>
    <form action="#" method="post"> {% csrf_token %}
        <table border="1" style="border-collapse: collapse; font-family: Courier New, monospace;">
            <tr>  
                    <th>{% block clo1 %}{% endblock %}</th>
                    <th>{% block clo2 %}{% endblock %}</th>
                    <th>{% block clo3 %}{% endblock %}</th>
                    <th>{% block clo7 %}{% endblock %}</th>
                    <th>{% block clo8 %}{% endblock %}</th>
                    <th>{% block clo9 %}{% endblock %}</th>
                    <th>{% block clo10 %}{% endblock %}</th>
                    
                    
            </tr>
            
                {% for index in list_book %}
                    <tr>
                        <td>{% block valcol1 %}{% endblock %}</td>
                        <td>{% block valcol2 %}{% endblock %}</td>
                        <td>{% block valcol3 %}{% endblock %}</td>
                        <td>{% block valcol7 %}{% endblock %}</td>
                        <td>{% block valcol8 %}{% endblock %}</td>
                        <td>{% block valcol9 %}{% endblock %}</td>
                        <td>{% block valcol10 %}{% endblock %}</td>
                        

                    </tr>
                    
                {% endfor %}
                    


        </table> <br>
            
        <div>
            <input type="submit" value="VALIDER">
        </div>
    </form>
    
    

</body>
</html>