<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Emprunte</title>
</head>
<body>
    <table border="1">
      <tr>
            <th>N°Livre</th>
            <th>Cotation</th>
            <th>Livre</th>
            <th>Auteur</th>
            <th>Etat</th>
            <th>Catégorie</th>
            <th>User</th>
            <th>DateEmprunte</th>
            <th>DateLivraison</th>
      </tr>
    
        {% for index in book %}
            <tr>

                <td>{{ index.idBook }}</td>
                <td>{{ index.cotation}}</td>
                <td>{{ index.titre}}</td>
                <td>{{ index.cotation}}</td>
                <td>{{ index.cotation}}</td>
                <td>{{ index.cotation}}</td>
                <td>{{ index.idUser}}</td>
                <td>{{ index.cotation}}</td>
                <td>{{ index.cotation}}</td>

            </tr>
            

        {% endfor %}
            


    </table>
        

</body>
</html>