<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>U-magis</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">

</head>
<body>
    <header>

        <div class="header">
            <a href="#default" class="logo">U-magis</a>
            <div class="header-right">
                {% block home %} {% endblock %}
                
                {% block bibliotheque %} {% endblock %}
                {% block portfolio %} {% endblock %}
                <a href="http://127.0.0.1:8000/discu/">{% block discu %} {% endblock %} </a>
                 {% block connexion %} {% endblock %}
            </div>
        </div>    

    </header>

    {% block body %}{% endblock %}
        
</body>
</html>