{% extends "baseheader.html" %}

{% block title %} U-Magis {% endblock %}
{% block home %}<a href="http://127.0.0.1:8000/home/" class="bar" style="color: rgb(236, 112, 11);"> <u>HOME</u> </a> {% endblock %}
{% block portfolio %} THE STUDENTS {% endblock %} 
{% block connexion %} <a href="http://127.0.0.1:8000/logout/"> LOG OUT </a>  {% endblock %}
{% block bibliotheque %} BIBLIOTHEQUE {% endblock %}
{% block discu %} DISCU {% endblock %}

{% block body %} 

        <p>

            <h2> Bienvenue sur notre bibliotheque en ligne!! </h2> 
        </p>

        <div>

                {% for bookshow in listbook %}
                <form action="http://127.0.0.1:8000/biblio/borrow/" method="post"> {% csrf_token %}

                        <input type="text" name="idBook" value={{ bookshow.idBook }} hidden>
                        
                        <ul>
                            <li>{{ bookshow.idBook }}</li>
                            <li>{{ bookshow.cotation }}</li>
                            <li>{{ bookshow.titre }}</li>
                            <li>Par {{ bookshow.auteur }}</li>
                        </ul>

                        <label for="commentaire">commentaire</label>
                        <input type="text" name="commentaire"> <br>
                        {% if bookshow.emprunted == 0 %}
                                <input type="submit" name="clicked_button" value="Emprunter">
                                <input type="submit" name="clicked_button" value="Reserver">
                        {% else %}
                                <input type="submit" name="clicked_button" value="Emprunter" disabled>
                                <input type="submit" name="clicked_button" value="Reserver">
                        {% endif %}
                        
                        
                </form>
               
                {% endfor %}

        </div>
    

{% endblock %}