{% extends "back_office.html" %}


{% block clo1 %} N°Livre {% endblock %}
{% block clo2 %} Cotation {% endblock %}
{% block clo3 %} Livre {% endblock %}
{% block clo7 %} User {% endblock %}
{% block clo8 %} Date d'Emprunte {% endblock %}
{% block clo9 %} Date de Livraison {% endblock %}
{% block clo10 %} Livré {% endblock %}

{% block valcol1 %} {{ index.number_book }} {% endblock %}
{% block valcol2 %} {{ index.cotation}} {% endblock %}
{% block valcol3 %} {{ index.title}} {% endblock %}
{% block valcol7 %} {{ index.user}} {% endblock %}
{% block valcol8 %} {{ index.dateSortie}} {% endblock %}
{% block valcol9 %} {{ index.dateEntre}} {% endblock %}
{% block valcol10 %} <input type="checkbox" name="cocher" value={{ index.idBook }}> {% endblock %}