{% extends 'baseheader.html' %}
{% block biblio %} <a class="link" href="http://127.0.0.1:8000/biblio/" style="color: #ffffff;">Bibliothèque</a>{% endblock %}
{% block discu %}<a class="link" href="http://127.0.0.1:8000/forum/"style="color: #ffffff;" >Forum</a>{% endblock %}
{% block log %}<a class="link" href="http://127.0.0.1:8000/logout/" style="color: #ffffff;">Log out</a>{% endblock %}

{% block body %}

<div class="container">
        
                
            <h1 id="tete" style="padding-top: 100px;">FORUM</h1>
        <div class="row">

            <div class="col-md-7" >
                <div class="row">
                    <div class="col-md-6 col-lg-4 my-3">
                        <div class="input-group position-relative">
                            <input type="text" name="recherche" class="form-control" placeholder="Enter Your Keywords" id="keywords">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 my-3">
                        <div class="select-container">
                            <select class="custom-select">
                                <option selected="">Tous</option>
                                <option value="1">Technologie</option>
                                <option value="2">Environnement</option>
                                <option value="3">Societé</option>
                                <option value="3">Etudiant</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 my-3">
                        <input type="submit" class="btn btn-md btn-block btn-light btn-custom" id="contact-submit" value="Search" style="background-color: rgb(122, 160, 161);">
                    </div>
                    
                    <hr>
                    <span>nombre de topic: {{ nbr_forum }}</span>
                </div>
                {% for topic in forum_list %}
                <div class="row" style="padding-bottom: 25px;"> <!-- begin forum-->
                    
                     <div class="col-sm-12">
                        
                        <div class="list list-row block">
                            <div class="list-item" data-id="19">
                                <div class="row">
                                    <hr>
                                
                                        <div class="col-4">
                                            <a href="#" data-abc="true">
                                               
                                                <span class="w-48 avatar gd-primary"><img src="https://img.icons8.com/color/48/000000/administrator-male.png" alt="."></span> <br>
                                                <a href="http://127.0.0.1:8000/student/me" class="item-author text-color" data-abc="true" style="font-family: cursive; text-decoration:none;">Angela</a> 
                                                
                                                <div class="item-except text-muted text-sm h-1x" style="font-family: cursive;">
                                                        L2 en Com Médiatique   
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-8">
                                            <h5><i class="bi bi-stack"></i>    {{ topic.forum }}    <i class="bi bi-stack"></i></h5>
                                            <div class="item-except text-muted text-sm h-1x">
                                                     <i class="bi bi-question-lg"></i>  <a href="http://">{{ topic.topic }}</a> <br>
                                                     <span style="font-family: cursive;">{{topic.date}}</span>
                                            </div>
                                            
                                        </div>
                                         
                                </div>
                                <hr>
                                <form action="http://127.0.0.1:8000/forum/showtopic/" method="post"> {% csrf_token %}
                                    
                                    <input type="text" value={{ topic.id }}  name="idtopic" hidden>
                                    <button value="repondre"  class="btn btn-info">Repondre</button> 
                                    <button class="btn btn-info"><i class="bi bi-lightbulb-fill"></i>{{ topic.nbr_answer }} reponse(s)</button> 
                                    
                                    <br>
                                </form> 
                                            
                                <script type="text/javascript">
                                        
                                        function addtopic() {
                                                    //Rendre la zone de texte visible.
                                        document.getElementById("poster").style.display = 'inline';
                                        document.getElementById("topictype").style.display = 'inline';
                                        document.getElementById("topic").style.display = 'inline';
                                        document.getElementById("forum").style.display = 'inline';
                                        
                                        }
       
                                </script>
                        
                            </div>
                        </div>
                    </div>

                </div> <!-- end forum--> 
                {% endfor %} 

            </div> <br> <br>
            <div class="col-md-1">

            </div>
            <div class="col-md-4">
                <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-lg-6 my-3">
                                <button class="btn btn-md btn-block btn-light btn-custom" onclick="addtopic()" style="background-color: green;color:#ffffff;">ADD TOPIC</button>
                            </div>
                            <form action="http://127.0.0.1:8000/forum/addtopic/" method="post"> {% csrf_token %}
   
                                <div class="row">
                                    <div class="col-md-7 col-lg-8 my-3">
                                        <div class="select-container">
                                            <span id="forum" style="display: none;">Forum:</span>
                                            <select class="custom-select" id="topictype" name="selectforum" style="display: none;">
                                                <option value="all">Tous</option>
                                                <option value="technologie">Technologie</option>
                                                <option value="environnement">Environnement</option>
                                                <option value="societe">Societé</option>
                                                <option value="etudiant">Etudiant</option>
                                            </select>
                                        </div> <br>
                                        <div class="row">
                                            
                                            <textarea name="topic" id="topic" cols="40" rows="2" placeholder="Add your topic here..." style="display: none;"></textarea>

                                        </div> 
                                        <div class="row">
                                            <input type="submit" id="poster" class="btn btn-sm btn-block btn-light btn-custom" value="Envoyer" style="background-color: dodgerblue; display:none;">
                                        </div>
                                    </div
                                </div>
                            </form>
                            
                                
                        </div>
                    <div class="row">
                        <h5>STAT</h5>
                        <a href="#"><i class="bi bi-hand-thumbs-down"></i> Question non repondue: <span>5</span></a> 
                        <a href="#"><i class="bi bi-hand-thumbs-up"></i> Question répondue: <span>12</span></a> <br> 
                        
                        <h5>Les plus actif.</h5>
                        <a href="#">
                            <span class="w-25 avatar gd-primary"><img src="https://img.icons8.com/color/30/000000/administrator-male.png" alt="."></span>
                            <span class="w-25 avatar gd-primary"><img src="https://img.icons8.com/color/30/000000/administrator-male.png" alt="."></span> 
                            <span class="w-25 avatar gd-primary"><img src="https://img.icons8.com/color/30/000001/administrator-male.png" alt="."></span> 
                        </a>

                    </div> <br>
                    <div class="row">
                        <div class="row">
                            <h5>SHARE DOCUMENT FOR ALL STUDENT</h5>
                        </div>
                        
                        <div class="col-md-6 col-lg-6 my-3">
                            <div class="select-container">
                                <span>TYPE DOC:</span>
                                <select class="custom-select">
                                    <option selected="">Informatique</option>
                                    <option value="1">Mathématique</option>
                                    <option value="2">Psychologie</option>
                                    <option value="3">Sociologie</option>
                                    <option value="3">Marketing</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 my-3">
                            <span>SELECT DOC.</span>
                            <div class="input-group mb-4">
                                <input type="file" class="form-control" id="inputGroupFile02">
                                
                              </div>
                        </div>

                        <input type="submit" value="Share" id="share" class="btn btn-md btn-block btn-light btn-custom" style=" background-color:cornflowerblue">
                        
                        


                </div>
                <div>
                    
                </div>

            </div>
        </div>
            <h2><a href="#tete" style="position: fixed; bottom:30px; left:65px;"><i class="bi bi-shift-fill"></i></a></h2>
</div>


{% endblock %}