<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <label for="anarana">votre pseudo</label>
        <input type="text" name="anarana" id="head">
    <br> 
        <label for="anarana">votre mot de passe</label>
        <input type="text" name="anarana" id="head">
<br>
        <label for="anarana">ressaisire votre mot de passe</label>
        <input type="text" name="anarana" id="head">
        <br>
            <label for="anarana">OS préféré</label>
            <input type="text" name="anarana" id="head">
        

</body>
</html>