<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <label for="anarana">votre pseudo:</label>
        <input type="text" name="anarana" id="head">
    <br> 
        <label for="pass word">votre mot de passe:</label>
        <input type="text" name="pass word" id="head">
<br>
        <label for="arefaire">ressaisire votre mot de passe:</label>
        <input type="text" name="arefaire" id="head">
        <br>
            <label for="os">OS préféré:</label>
            <input type="text" name="os" id="head">      
<br>
<input type="radio" name="win" id="corp">
<label for="win">windows XP</label>
</body>
</html>