{% extends "back_office.html" %}

{% block clo1 %} N°Livre {% endblock %}
{% block clo2 %} Cotation {% endblock %}
{% block clo3 %} Livre {% endblock %}
{% block clo4 %} Auteur {% endblock %}
{% block clo5 %} Etat {% endblock %}
{% block clo6 %} Catégorie {% endblock %}
{% block clo7 %} User en Attent {% endblock %}
{% block clo8 %} User en cours {% endblock %}
{% block clo9 %} Date de Livraison {% endblock %}

{% block valcol1 %} {{ index.number_book }} {% endblock %}
{% block valcol2 %} {{ index.cotation}} {% endblock %}
{% block valcol3 %} {{ index.title}} {% endblock %}
{% block valcol4 %} {{ index.auteur}} {% endblock %}
{% block valcol5 %} {{ index.etat}} {% endblock %}
{% block valcol6 %} {{ index.categorie}} {% endblock %}
{% block valcol7 %} {{ index.UserEnAttent}} {% endblock %}
{% block valcol8 %} {{ index.UserEncours }} {% endblock %}
{% block valcol9 %} {{ index.cotation}} {% endblock %}

